In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [4]:
df = raw_csv_data.copy()

In [5]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

# Drop 'ID':

In [7]:
df.drop(['ID'], axis = 1)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [8]:
df = df.drop(['ID'], axis =1)

In [9]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

#  'Reason for Absence':

In [10]:
df['Reason for Absence']

0      26
1       0
2      23
3       7
4      23
       ..
695    10
696     6
697    10
698    23
699    28
Name: Reason for Absence, Length: 700, dtype: int64

In [11]:
pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [12]:
 len(pd.unique(df['Reason for Absence']))

28

In [13]:
sorted(pd.unique(df['Reason for Absence']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

#  .get_dummies()

In [14]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [15]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)

In [17]:
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Group the Reasons for Absence:

In [18]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [19]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [20]:
df = df.drop(['Reason for Absence'], axis =1)

In [21]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [22]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [23]:
reason_type_1

0      0
1      0
2      0
3      1
4      0
      ..
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: uint8

In [24]:
reason_type_2

0      0
1      0
2      0
3      0
4      0
      ..
695    0
696    0
697    0
698    0
699    0
Length: 700, dtype: uint8

# Concatenate Column Values

In [25]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [26]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)

In [27]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [28]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [29]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [30]:
df.columns = column_names

In [31]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

# Reorder Columns

In [32]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [33]:
df = df[column_names_reordered]

In [34]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

# Create a Checkpoint

In [35]:
df_reason_mod = df.copy()

In [36]:
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

# 'Date':

In [37]:
df_reason_mod['Date']

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
          ...
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object

In [38]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '23/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '17/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '24/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '13/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '20/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '27/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '30/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '17/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '24/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '19/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '28/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '27/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '20/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '21/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '13/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '24/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '21/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '28/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '22/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '29/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '23/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '30/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '18/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '25/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '13/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '21/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '22/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '20/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '23/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '30/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '19/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '18/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '20/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '25/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '27/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '26/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '18/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '13/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '21/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '28/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '25/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '26/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '23/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '25/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '17/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '15/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '16/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '21/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '22/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '24/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '25/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '28/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '29/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '30/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '17/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '18/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '13/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_3240\4161912285.py:1: UserWarning: Parsing '14/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])

In [39]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [40]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [41]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [42]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [43]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [44]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    uint8
 1   Reason_2                   700 non-null    uint8
 2   Reason_3                   700 non-null    uint8
 3   Reason_4                   700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

# Extract the Month Value:

In [45]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [46]:
df_reason_mod['Date'][0].month

7

In [47]:
list_months = []
list_months

[]

In [48]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [49]:
list_months

[7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 12,
 3,
 10,
 8,
 8,
 8,
 4,
 12,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 1,
 7,
 1,
 8,
 9,
 9,
 9,
 9,
 4,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 6,
 10,
 10,
 10,
 10,
 10,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 5,
 4,
 5,
 12,
 11,
 2,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 2,
 10,
 11,
 11,
 1,
 1,
 2,
 2,
 3,
 4,
 8,
 9,
 10,
 11,
 12,
 12,
 11,
 12,
 12,
 6,
 4,
 5,
 5,
 6,
 7,
 7,
 8,
 11,
 12,
 12,
 1,
 1,
 1,
 11,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 10,
 11,
 11,
 12,
 12,
 8,
 9,
 2,
 9,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 8,
 3,
 3,
 2,
 3,
 4,
 4,
 7,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 6,
 4,
 12,
 4,
 4,
 4,
 4,
 6,
 7,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 5,
 2,
 3,
 3,
 11,
 9,
 10,
 4,
 11,
 5,
 5,
 5,
 5,
 11,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 3,
 7,
 8,
 9,
 10,
 6,
 6,
 5,
 6,
 8,
 8,
 12,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 11,
 7,
 7,
 4,
 11,
 7,
 8,
 10,
 10,
 11,
 8,
 9,
 10,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 9,
 7,
 8,
 12,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 5,
 5,
 5,
 6,
 6,
 6,
 12,
 12,
 12,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 7,
 8,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 6,
 9,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 4,
 9,
 9,
 3,
 3,
 9,
 11,
 1,
 1,
 1,
 1,
 7,
 1,
 1,
 3,
 10,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 7,
 8,
 10,
 10,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 5,
 7,
 7,
 10,
 10,
 12,
 12,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 3,
 8,
 10,
 10,
 11,
 12,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 9,
 12,
 12,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 10,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 3,
 7,
 8,
 8,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 11,
 9,
 9,
 9,
 9,
 5,
 5,
 6,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 8,
 8,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 6,
 6,
 8,
 8,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 4,
 4,
 5,
 8,
 10,
 11,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 12,
 12,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 12,
 12,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 4,
 5,
 6,
 9,
 10,
 10,
 10,
 11,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [50]:
len(list_months)

700

In [51]:
df_reason_mod['Month Value'] = list_months

In [52]:
df_reason_mod.head(10)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-10-07,179,51,38,239.554,31,1,0,0,2,10
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-06-07,155,12,34,239.554,25,1,2,0,40,6
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7

# Extract the Day of the Week:

In [53]:
df_reason_mod['Date'][699].weekday()

3

In [54]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [55]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [56]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [57]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)

In [58]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [59]:
columns_values_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [60]:
df_reason_mod = df_reason_mod[columns_values_reordered]

In [61]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [62]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [63]:
type(df_reason_date_mod['Transportation Expense'][0])

numpy.int64

In [64]:
type(df_reason_date_mod['Distance to Work'][0])

numpy.int64

In [65]:
type(df_reason_date_mod['Age'][0])

numpy.int64

In [66]:
type(df_reason_date_mod['Daily Work Load Average'][0])

numpy.float64

In [67]:
type(df_reason_date_mod['Body Mass Index'][0])

numpy.int64

# Categorical Data('Education', 'Children', 'Pets'):

In [68]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [69]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [70]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [71]:
df_reason_date_mod['Education'].unique()

array([0, 1], dtype=int64)

In [72]:
df_reason_date_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

# Final Checkpoint

In [73]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [74]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index = False)